<section class="wthree-row w3-gallery cliptop-portfolio-wthree pt-lg-5" id="portfolio">
    <div class="container-fluid">
        <div class="title-desc  pb-3">
            <h3 class="main-title-w3pvt  text-capitalize">portfolio</h3>
            <p>Explore it all. The sky is the limit!</p>
        </div>
        <ul class="demo row py-lg-5 py-sm-4 pb-4" style="padding: 25px">
            <li class="col-lg-3 col-sm-6" ng-repeat="folio in folioCtrl.folioArray">
                <div class="folio-border">
                    <div class="gallery-grid1" ng-style="{'background-image':'url({{folio.url}})'}" style="height: 300px;background-size: cover;">
                        <!-- <img src="assets/images/port1.jpg" alt=" " class="img-fluid img-thumbnail" /> -->
                    </div>
                </div>
            </li>
            <!-- <li class="col-lg-3 col-sm-6">π
                    <div class="gallery-grid1">
                        <img src="assets/images/port2.jpg" alt=" " class="img-fluid img-thumbnail" />
                    </div>
                </li>
                <li class="col-lg-3 col-sm-6">
                    <div class="gallery-grid1">
                        <img src="assets/images/port3.jpg" alt=" " class="img-fluid img-thumbnail" />
                    </div>
                </li>
                <li class="col-lg-3 col-sm-6">
                    <div class="gallery-grid1">
                        <img src="assets/images/port4.jpg" alt=" " class="img-fluid img-thumbnail" />
                    </div>
                </li>
                <li class="col-lg-3 col-sm-6">
                    <div class="gallery-grid1">
                        <img src="assets/images/port5.jpg" alt=" " class="img-fluid img-thumbnail" />
                    </div>
                </li>
                <li class="col-lg-3 col-sm-6">
                    <div class="gallery-grid1">
                        <img src="assets/images/port6.jpg" alt=" " class="img-fluid img-thumbnail" />
                    </div>
                </li>
                <li class="col-lg-3 col-sm-6">
                    <div class="gallery-grid1">
                        <img src="assets/images/port7.jpg" alt=" " class="img-fluid img-thumbnail" />
                    </div>
                </li>
                <li class="col-lg-3 col-sm-6">
                    <div class="gallery-grid1">
                        <img src="assets/images/port8.jpg" alt=" " class="img-fluid img-thumbnail" />
                    </div>
                </li> -->
        </ul>
    </div>
</section>