<section class=" services-wthreepvt position-relative" id="plans">
    <div class="container">
        <div class="row">
                <div class="col-lg-7 about-left-wthree"">
                    <div class="title-desc  pb-sm-3">
                        <h3 class="main-title-w3pvt text-capitalize">packages</h3>
                        <p>Join Me On The Trail</p>
                    </div>
                    <p class="my-3 child_second">
                        We are providing a wide range of packages with a lowest of 1000 bucks per person. </p>
                    <div class="ml-auto">
                        <a class="btn bg-theme mt-4 w3_pvt-link-bnr scroll text-white" data-blast="bgColor"
                        href="#about" role="button">View More</a>
                    </div>
                </div>
             <div class="col-lg-5 about-left-bg"></div>
        </div>
    </div>
</section>