<section class="team-wthree py-3  position-relative bg-theme" data-blast="bgColor" id="team">
        <div class="container py-lg-5">
            <div class="title-desc text-left pb-3">
                <h3 class="main-title-w3pvt  text-capitalize text-white">our team</h3>
                <p class="text-white">Explore it all. The sky is the limit!</p>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div id="carouselExampleIndicators" class="carousel slide py-lg-5" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box5">
                                            <img src="assets/images/t1.jpg" alt="" class=" img-fluid" />
                                            <ul class="icon">
                                                <li><a href="#" class="fa fa-search"></a></li>
                                                <li><a href="#" class="fa fa-link"></a></li>
                                            </ul>
                                            <div class="box-content">
                                                <h3 class="title">Williamson</h3>
                                                <span class="post">lorem ipsum</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box5">
                                            <img src="assets/images/t2.jpg" alt="" class=" img-fluid" />
                                            <ul class="icon">
                                                <li><a href="#" class="fa fa-search"></a></li>
                                                <li><a href="#" class="fa fa-link"></a></li>
                                            </ul>
                                            <div class="box-content">
                                                <h3 class="title">Kristiana</h3>
                                                <span class="post">lorem ipsum</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="box5">
                                            <img src="assets/images/t3.jpg" alt="" class=" img-fluid" />
                                            <ul class="
                                            icon">
                                                <li><a href="#" class="fa fa-search"></a></li>
                                                <li><a href="#" class="fa fa-link"></a></li>
                                            </ul>
                                            <div class="box-content">
                                                <h3 class="title">Williamson</h3>
                                                <span class="post">lorem ipsum</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="box5">
                                            <img src="assets/images/t4.jpg" alt="" class=" img-fluid" />
                                            <ul class="icon">
                                                <li><a href="#" class="fa fa-search"></a></li>
                                                <li><a href="#" class="fa fa-link"></a></li>
                                            </ul>
                                            <div class="box-content">
                                                <h3 class="title">Kristiana</h3>
                                                <span class="post">lorem ipsum</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 team-right-grid position-absolute p-0 mx-auto">
                    <img src="assets/images/g4.jpg" alt="" class="img-fluid" />
                </div>
                </div>
            </div>
    </section>