<div class="contact-wthree pt-lg-5" id="contact">
        <div class="container py-md-5 py-4">
            <div class="title-desc text-left pb-3">
                <h3 class="main-title-w3pvt  text-capitalize">contact</h3>
                <p>Do you have a question about one of my hikes? </p>
                <p>Have you seen trail conditions change since I made a post? </p>
                <p>Send me a message, and I will get back to you as soon as I can.</p>
            </div>
            <div class="row py-lg-5 py-sm-4">
                <div class="col-lg-12">
                    <div class="w3_pvt-contact-top">
                        <h2>get in touch </h2>
                        <ul class="d-flex header-wthreelayouts pt-0 flex-column">
                            <li>
                                <span class="fa fa-home" data-blast="color"></span>
                                <p class="d-inline">Pahadi Trekkers,</p>
                                <p class="d-inline">Bhadwari Bhadraj, Ghati Sartali</p>
                            </li>
                            <li class="my-3">
                                <span class="fa fa-envelope-open" data-blast="color"></span>
                                <a href="mailto:example@email.com" class="text-secondary">hillclimbers23@gmail.com</a>
                            </li>
                            <li>
                                <span class="fa fa-phone" data-blast="color"></span>
                                <p class="d-inline">+91-8588829838</p>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <!-- <div class="col-lg-12 mt-4">
                        <div class="register-top1">
                            <form action="#" method="post" class="register-wthree">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-3 pl-lg-0">
                                            <label>
                                                Full name
                                            </label>
                                            <input class="form-control" type="text" placeholder="Your good name" name="email" required="" data-blast="borderColor">
                                        </div>
                                        <div class="col-lg-3 my-lg-0 my-4">
                                            <label>
                                                Email
                                            </label>
                                            <input class="form-control" type="email" placeholder="example@email.com" name="email" required="" data-blast="borderColor">
                                        </div>
                                        <div class="col-lg-3">
                                            <label>
                                                Mobile
                                            </label>
                                            <input class="form-control" type="text" placeholder="xxxx xxxxx" name="email" required="" data-blast="borderColor">
                                        </div>
                                        <div class="col-lg-3 d-flex align-items-end pr-lg-0 mt-lg-0 mt-4">
                                            <button type="submit" data-blast="bgColor" class="btn btn-w3_pvt btn-block w-100 text-white font-weight-bold text-uppercase bg-theme">Send</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- map -->
        <div class="map p-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13753.571101553638!2d77.9712347!3d30.4816329!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x754b51a9231992e8!2z4KSt4KSm4KWN4KSn4KS14KS-4KShIOCkreCkpuCljeCkp-CksOCkvuCknCDgpJjgpL7gpJ_gpYA!5e0!3m2!1sen!2sin!4v1545499885839" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <!--// map-->
    </div>