<div class="about-wthree" id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 about-right-bg"></div>
            <div class="col-lg-7 about-left-wthree bg-theme" data-blast="bgColor">
                <div class="title-desc text-right pb-sm-3">
                    <h3 class="main-title-w3pvt text-white text-capitalize">about us</h3>
                </div>
                <p class="my-3 text-right text-white child_second">We are some random IT guys who belongs to mussoorie and trying to build something so that everyone can chill in peace.</p>
                <p class="my-3 text-right text-white child_second">Chill, litterally saying the place got some serious chill.</p>
                <p class="my-3 text-right text-white child_second">Come and visit us and create some momemts.</p>
                <div class="ml-auto text-right">
                    <a href="#plans" class="text-capitalize text-dark w3_pvt-link-bnr btn bg-light scroll mt-sm-4">view
                            more</a>
                </div>
            </div>
        </div>
    </div>
</div>